
.content{
    overflow: hidden;
}
.address-page{
    margin-left: 32px;
    
    .title{
        margin: 0;
        margin-top: 32px;
        font-size: 26px;
        font-weight: 700;
        line-height: 31px;
    }
    .sub-title{
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
    }

    form{
        
        width: 1076px;
        height: 70px;
        display: flex;
        align-items: center;


        input::placeholder{
            color: #6C6C6C;
        }
        input{
            outline: none;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            color: #1C1C1E;
            width: 835px;
            height: 60px;
            border: 3px solid #4F27BF;
            border-radius: 10px;
            padding-left: 24px;
        }
        input:focus{
            border: 3px solid #4F27BF;
            outline: none;
        }
        button{
            margin-left: 24px;
            background-color: #4F27BF;
            width: 217px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            img{
                width: 32px;
                height: 32px;
            }
            p{
                color: #FFFFFF;
                font-size: 26px;
                font-weight: 700;
                margin-left: 16px;
            }
        }
    }
    .response-container{
        margin-top: 32px;
        margin-bottom: 32px;
        width: 1076px;
        box-shadow: 0px 2px 8px rgba(2, 0, 97, 0.25);
        border-radius: 10px;
        height: 690px;
        padding-left: 24px;
        padding-top: 24px;
        h1{
            font-size: 26px;
            font-weight: 700;
            color: #000000;
        }
        ul::-webkit-scrollbar {
            width: 0px;
        }
        ul{
            margin-bottom: 32px;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 0;
            height: 615px;
            .response-item{
                width: 1028px;
                padding: 16px 0;
                list-style-type: none;
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
                border-bottom: 1px solid #D7D7D7
            }
            .response-item:nth-child(1){
                border-top: 1px solid #D7D7D7
            }
            .response-item:last-child{
                border-bottom: 0;
            }
        }
    }
}