@media only screen and (max-width: 1280px) {
  .address-page {
    width: 100% !important;
  }
  .address-page form {
    width: 100% !important;
  }
  .address-page form input {
    width: 68% !important;
  }
  .address-page .response-container {
    height: 60vh !important;
    width: 93% !important;
  }
  .address-page .response-container ul {
    width: 95% !important;
    height: 80% !important;
  }
  .address-page .response-container ul li {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1024px) {
  .address-page form input {
    width: 60% !important;
  }
  .address-page .response-container {
    width: 92% !important;
  }
}

@media only screen and (max-width: 768px) {
  .address-page form input {
    width: 58% !important;
  }
  .address-page .response-container {
    height: 60vh !important;
    width: 90% !important;
  }
  .address-page .response-container ul {
    width: 95% !important;
    height: 80% !important;
  }
  .address-page .response-container ul li {
    width: 100% !important;
  }
}

.content {
  overflow: hidden;
}

.address-page {
  width: 1140px;
  margin-left: 32px;
}

.address-page .title {
  margin: 0;
  margin-top: 32px;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  display: inline-block;
}

.address-page .sub-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  display: inline-block;
}

.address-page form {
  width: 1076px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address-page form input::-webkit-input-placeholder {
  color: #6C6C6C;
}

.address-page form input:-ms-input-placeholder {
  color: #6C6C6C;
}

.address-page form input::-ms-input-placeholder {
  color: #6C6C6C;
}

.address-page form input::placeholder {
  color: #6C6C6C;
}

.address-page form input {
  outline: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #1C1C1E;
  width: 835px;
  height: 60px;
  border: 3px solid #4F27BF;
  border-radius: 10px;
  padding-left: 24px;
}

.address-page form input:focus {
  border: 3px solid #4F27BF;
  outline: none;
}

.address-page form button {
  margin-left: 24px;
  background-color: #4F27BF;
  width: 217px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.address-page form button img {
  width: 32px;
  height: 32px;
}

.address-page form button p {
  color: #FFFFFF;
  font-size: 26px;
  font-weight: 700;
  margin-left: 16px;
}

.address-page .response-container {
  margin-top: 32px;
  margin-bottom: 32px;
  width: 1076px;
  -webkit-box-shadow: 0px 2px 8px rgba(2, 0, 97, 0.25);
          box-shadow: 0px 2px 8px rgba(2, 0, 97, 0.25);
  border-radius: 10px;
  height: 510px;
  padding-left: 24px;
  padding-top: 24px;
}

.address-page .response-container h1 {
  display: inline-block;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
}

.address-page .response-container ul::-webkit-scrollbar {
  width: 0px;
}

.address-page .response-container ul {
  margin-bottom: 32px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  height: 400px;
}

.address-page .response-container ul .response-item {
  width: 1028px;
  padding: 16px 0;
  list-style-type: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  border-bottom: 1px solid #D7D7D7;
}

.address-page .response-container ul .response-item:nth-child(1) {
  border-top: 1px solid #D7D7D7;
}

.address-page .response-container ul .response-item:last-child {
  border-bottom: 0;
}
/*# sourceMappingURL=addressPage.css.map */