.home-page::-webkit-scrollbar-thumb {
    background: #4F27BF;
    border-radius: 5px;//
}
.home-page::-webkit-scrollbar {
    width: 6px;
}
.home-page::-webkit-scrollbar-button{
    height: 127px;
}
@media only screen and (max-width:1280px){
    .home-page{
        // width: 100% !important;
        height: 90vh !important;
    }
}


.home-page{
    overflow-y: auto;
    overflow-x: hidden;
    height: 944px;
    background: #E5E5E5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    .page-title{
        margin: 0;
        margin-top: 32px;
        font-size: 26px;
        font-weight: 700;
        line-height: 32px;
        color: #1C1C1E;
        width: 300px;
    }
    .sub-title{
        
        margin-top: 16px;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        width: 300px;
    }
    .news-content{
        margin-top: 24px;
        width: 1076px;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        width: 95%;
        word-break: break-word;
        .link{
            color: #002BC5;
        }
    }
    ::-webkit-scrollbar-thumb {
        background: #4F27BF;
    }
        /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
}