body {
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

@media only screen and (max-width: 1280px) {
  header {
    width: 1280px !important;
  }
  .navigation {
    height: 90vh !important;
  }
  .navigation .open-icon {
    margin-left: 20px !important;
  }
  .navigation .settings-items {
    margin-left: 20px !important;
  }
  .page-container {
    width: 1280px !important;
  }
  .container {
    width: 1280px !important;
  }
  .container .content {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1024px) {
  header {
    width: 1024px !important;
  }
  .navigation {
    height: 90vh !important;
  }
  .navigation .open-icon {
    margin-left: 10px !important;
  }
  .navigation .settings-items {
    margin-left: 10px !important;
  }
  .page-container {
    width: 1024px !important;
  }
  .container {
    width: 1024px !important;
  }
  .container .content {
    width: 100% !important;
  }
}

@media only screen and (max-width: 768px) {
  header {
    width: 768px !important;
  }
  .page-container {
    width: 768px !important;
  }
  .navigation {
    display: none;
  }
  .container {
    width: 768px !important;
  }
  .container .content {
    width: 100% !important;
  }
}

.page-container {
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
}

header {
  position: fixed;
  z-index: 1;
  width: 1440px;
  height: 80px;
  font-weight: 700;
  background-color: #4F27BF;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h3 {
  color: #FFFFFF;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo img {
  width: 48px;
  height: 48px;
}

header .logo h3 {
  margin-left: 24px;
}

header .header__logo {
  margin-left: 32px;
}

header .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .profile img {
  width: 48px;
  height: 48px;
}

header .header-profile {
  margin-right: 32px;
}

header .header-profile .profile-data {
  margin-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-profile .profile-data h3:nth-child(2) {
  margin-left: 5px;
}

.container {
  overflow-y: hidden;
  margin: auto;
  position: absolute;
  top: 80px;
  width: 1440px;
  height: 944px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .navigation::-webkit-scrollbar {
  width: 0;
}

.container .navigation {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  width: 300px;
  height: 944px;
  -webkit-box-shadow: 0px 0px 5px rgba(2, 0, 96, 0.25);
          box-shadow: 0px 0px 5px rgba(2, 0, 96, 0.25);
}

.container .navigation ul {
  overflow-x: hidden;
}

.container .navigation .title {
  margin-left: 32px;
  margin-top: 25px;
  font-size: 20px;
  font-weight: 700;
  color: #1C1C1E;
}

.container .navigation #mt-0 {
  margin-top: 0;
}

.container .navigation .link {
  text-decoration: none;
}

.container .navigation .active-page {
  border-right: 6px solid #4F27BF;
  border-radius: 5px;
}

.container .navigation ul {
  height: 850px;
  overflow-y: auto;
  margin-top: 32px;
  list-style-type: none;
  padding: 0;
  margin-left: 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .navigation ul img {
  width: 32px;
  height: 32px;
}

.container .navigation ul p {
  font-size: 20px;
  font-weight: 600;
  color: #1C1C1E;
  margin-left: 16px;
}

.container .navigation ul .item {
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-top: 40px;
}

.container .navigation ul .item .open-icon {
  margin-left: 67px;
  width: 15px;
  height: 15px;
}

.container .navigation ul .settings-items {
  display: none;
  margin-left: 48px;
}

.container .navigation ul .active-settings {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.container .navigation ul .active-settings-items {
  display: block;
}

.container .content {
  overflow-y: hidden;
  width: 1140px;
  height: 944px;
}
/*# sourceMappingURL=pageContainer.css.map */